In [18]:
from sqlalchemy import create_engine

# Create the connection engine
engine = create_engine("sqlite:///athletes.sqlite")
conn = engine.connect()
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('athletes_merged.csv')

In [21]:
df.head()

,Name,Nationality,Sport,Year,earnings_million,country,latitude,longitude
0,Mike Tyson,United States,boxing,1990,28.6,US,37.090240,-95.712891
1,Buster Douglas,United States,boxing,1990,26.0,US,37.090240,-95.712891
2,Sugar Ray Leonard,United States,boxing,1990,13.0,US,37.090240,-95.712891
3,Ayrton Senna,Brazil,auto racing,1990,10.0,BR,-14.235004,-51.925280
4,Alain Prost,France,auto racing,1990,9.0,FR,46.227638,2.213749

In [22]:
df.dtypes

Name                 object
Nationality          object
Sport                object
Year                  int64
earnings_million    float64
country              object
latitude            float64
longitude           float64
dtype: object

In [32]:
Base.metadata.create_all(engine)
from sqlalchemy.orm import Session
session = Session(bind=engine)
df.to_sql("conor", conn, index=False, if_exists="replace")

In [33]:
import os
import json
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)    
app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///athletes.sqlite"
db = SQLAlchemy(app)

/Users/conorgleason/Desktop/anaconda3/lib/python3.7/site-packages/flask_sqlalchemy/__init__.py:834: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [36]:
Base = automap_base()
Base.prepare(db.engine, reflect=True)
# Save references to each table
#print(Base.classes.keys())
ref = Base.classes.conor

AttributeError: conor

In [30]:
db.session.query(ref).Name

InvalidRequestError: SQL expression, column, or mapped entity expected - got '<sqlalchemy.util._collections.Properties object at 0x7fe585d681d0>'