In [1]:
from sqlalchemy import create_engine

# Create the connection engine
engine = create_engine("sqlite:///athletes.sqlite")
conn = engine.connect()

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('athletes_merged.csv')

In [4]:
df.head()

,Name,Nationality,Sport,Year,earnings_million,country,latitude,longitude
0,Mike Tyson,United States,boxing,1990,28.6,US,37.090240,-95.712891
1,Buster Douglas,United States,boxing,1990,26.0,US,37.090240,-95.712891
2,Sugar Ray Leonard,United States,boxing,1990,13.0,US,37.090240,-95.712891
3,Ayrton Senna,Brazil,auto racing,1990,10.0,BR,-14.235004,-51.925280
4,Alain Prost,France,auto racing,1990,9.0,FR,46.227638,2.213749

In [5]:
df.dtypes

Name                 object
Nationality          object
Sport                object
Year                  int64
earnings_million    float64
country              object
latitude            float64
longitude           float64
dtype: object

In [6]:
df.to_sql("athletes", conn, index=False, if_exists="replace")

In [ ]:
# Base = declarative_base()
# class athletes(Base):
#     __tablename__ = 'athletes'
#     id = Column(Integer, primary_key=True)
#     name = Column(String(255))
#     Nationality = Column(String(255))
#     sport = Column(String(255))
#     year = Column(Integer)
#     earnings_million = Column(Decimal(10,5))
#     country = Column(String(255))
#     latitude = Column(Decimal(10,5))
#     longitude = Column(Decimal(10,5))
    
# engine = create_engine("sqlite:///athletes.sqlite")
# conn = engine.connect()
# Base.metadata.create_all(engine)

# from sqlalchemy.orm import Session
# session = Session(bind=engine)

In [ ]:
# import csv
# csvFilePath = 'athletes_merged.csv'
# data = {}
# with open(csvFilePath) as csvFile:
#     csvReader = csv.DictReader(csvFile)
#     for rows in csvReader:
#         re = rows
        
#         athlete = athletes(
#         name = re['Name'],
#         Nationality = re['Nationality'],
#         sport = re['Sport'],
#         year = int(re['Year']),
#         earnings_million = float(re['earnings_million']),
#         country = re['country'],
#         latitude = float(re['latitude']),
#         longitude = float(re['longitude'])
#         )        
#         session.add(athlete)
#         session.commit()